<div class="admin">
  <% if current_user.admin? %>
      <%= link_to "ADMIN:", admin_index_path %>
  <% end %>
  <%= link_to "Users", users_path %> |
  <%= link_to "Meals", meals_path %> | 
  <%= link_to "Mealnames", mealnames_path %> |   
  <%= link_to "Foods", foods_path %> | 
  <%= link_to "Groups", groups_path %> |
  <%= link_to "Diets & Stats", diets_path %>
</div>
