<div>
  <%= form_for user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label :password %>(required)
  <%= f.password_field :password %><br>

  <%= f.label :weight %>
  <%= f.text_field :weight %><br>

  <%= f.label :diet %>
  <%= f.collection_select :diet_id, @diets, :id, :name %><br>

  <!--add in a nested log form -->
  <hr>
  <p>Add a log note (optional): </p>
    <%= f.fields_for :logs do |l| %>
    <% if !l.object.id.present? %>
      <%= l.label :date %><br>
      <%= l.date_field :date %><br>

      <%= l.label :note %>
      <%= l.text_area :note %>

    <% end %>
 <% end %>
   </p>
  <% if current_user.admin? %>
  <%= f.radio_button(:role, "standard") %>
  <%= f.label(:role_standard, "standard") %>

  <%= f.radio_button(:role, "admin") %>
  <%= f.label(:role_standard, "admin") %><br>
  <% end %>
  <%= f.submit %>
  <% end %>
</div>
