<div class="index_view">
<p class="flash_style">Is your food not in the dropdown list?<br> 
Add it here (including Calories and Group), then create your meal above:
</p>
New Food:
  <%= form_for :food, method: "post" do |new_food| %>
    <%= new_food.label :name %>    
    <%= new_food.text_field :name %><br>
    <%= new_food.label :cals %>    
    <%= new_food.text_field :cals %><br>
    <%= new_food.label :group %>    
    <%= new_food.collection_select :group_id, Group.all, :id, :name, include_blank: true %><br>
  <%= new_food.submit %>
<% end %>
</div>

